osnove-programiranja/cas_1/
osnove-programiranja/cas_2/
osnove-programiranja/cas_9/
osnove-programiranja/cas_12/
osnove-programiranja/projekat/__pycache__
osnove-programiranja/projekat/dokumentacija
osnove-programiranja/projekat/env
